# MaC Specifics #
.DS_Store

# Eclipse #
*.project
*.settings
*.classpath
*/bin/
*.springBeans

# Build #
build
target
reports
local.*
classes

# Gradle #
.gradle

commitnumber.properties

*.class

/bin/

/logs
